body {
  background-color: hsl(0, 0%, 0%);
  border: 0 hsl(0, 0%, 100%);
  box-sizing: border-box;
  color: hsl(0, 0%, 100%);
  font-family: liberation-sans;
  height: 100%;
  margin: 0;
  min-height: 630px;
  min-width: 470px;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  width: 100%;
}

span, div {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#display-row {
  font-size: 56pt;
  line-height: 64pt;
}

#full-num, .key, .num-key {
  display: inline-block;
}

.key, .num-key {
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 6px;
  cursor: pointer;
  font-size: 64pt;
  margin: 3px;
  max-width: 200px;
  width: 30%;
}

.key {
  background-color: hsl(0, 0%, 0%);
}

.num-key.enabled {
  background-color: hsl(120, 50%, 30%);
  transition-duration: 0.25s;
}

.num-key.disabled {
  background-color: hsl(0, 50%, 30%);
  transition-duration: 0.25s;
}

.key:active, .num-key:active {
  background-color: hsl(0, 0%, 50%);
}

#clr-key {
  color: hsl(0, 100%, 55%);
}